<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>vue事始め</title>
  <link href="app.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="app">
    {{ message }}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <div id="app-6">
    <input v-model="message">
    <p>{{ message }}</p>
  </div>

  <div id="app-7">
    <ol>
      <todo-item v-for="item in gList" v-bind:todo="item"></todo-item>
    </ol>
  </div>
  <div id="vm1">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
  </div>

  <div id="vm2">
    <input v-model="firstName">
    <input v-model="lastName">
    <input v-model="fullName">
    <span>{{ fullName }}</span>
  </div>

  <div id="watch-example">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">
      answerd
    </div>
    <div v-bind:class="classObject">
      classObject
    </div>
    <div v-bind:style="styleObject">
      styleObject
    </div>
    <p>{{ answer }}</p>
  </div>

  <div id="vm3">
    <div v-if="type == 'A'">A</div>
    <div v-else-if="type == 'B'">B</div>
    <div v-else="">C</div>
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address" key="email-input">
    </template>
    <input v-model="type">
    <input v-model="loginType">
  </div>

  <div id="vm4">
    <ul>
      <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} {{ item.message }}
      </li>
    </ul>
  </div>

  <div id="vm5">
    <ul>
      <li v-for="(value, key,index) in object">
        {{ index }} - {{ key }} : {{ value }}
      </li>
      <li v-for="item in items" :key="item.id">
        {{ item.mes }}
      </li>
      <li v-for="n in evenNumbers">
        {{ n }}
      </li>
      <li v-for="n in even(numbers)">
        {{ n }}
      </li>
      <li v-for="n in 10">
        {{ n }}
      </li>
    </ul>
  </div>

  <div id="todo-list-example">
    <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
    <ul>
      <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
    </ul>
  </div>

  <div id="example-1">
    <button v-on:click="counter += 1">Increment</button>
    <p>{{ counter }}</p>
  </div>

  <div id="example-2">
    <button v-on:click="greet">Greet</button>
    <input @keyup.ctrl.67="clear">Ctrl + Cで反応
  </div>

  <div id="vm_i1">
    <h2>Input 1</h2>
    <input v-model="message1" placeholder="edit me">
    <p>Message is:{{ message1 }}</p>
    <textarea v-model.trim="message2" placeholder="add multiline"></textarea>
    <P style="white-space: pre-line">Multiline(trim option) :{{ message2 }}</p>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <hr>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
    <hr>
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
    <p>v-model の式の初期値がオプションのどれとも一致しない場合、 select要素は “未選択” の状態で描画されます。iOS ではこの場合、iOS が change イベントを発生させないため、最初のアイテムを選択できなくなります。したがって、上記の例に示すように、空の値で無効なオプションを指定することを推奨します。</p>
    <select v-model="selected2" multiple style="width:100px">
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected2 }}</span>
    <hr>
    <select v-model="selected3">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <span>Selected: {{ selected3 }}</span>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
